<div class="container text-center my-5">
  <div *ngIf="loginForm.submitted && !logInSuccess">
    <ngb-alert [dismissible]="false">
      <strong>Invalid Credentials!</strong>
    </ngb-alert>
  </div>
  <form (ngSubmit)="logInBasicAuth(loginForm)" #loginForm="ngForm" ngNativeValidate>
    <mat-form-field>
      <input matInput placeholder="Username" type="text" [(ngModel)]="userName" name="userName" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Password" type="Password" [(ngModel)]="password" name="password" required>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>
<div class="text-center" *ngIf="loginForm.submitted && logInSuccess">
  <h1>
    Response from port 7000: <span *ngIf="responseErrorFound" style="color: red;">(Error) </span>{{ message }}
  </h1>
  <div class="container">
    <form (ngSubmit)="getData(helloWorldForm)" #helloWorldForm="ngForm" ngNativeValidate>
      <mat-form-field>
        <input matInput placeholder="Enter Name" type="text" [(ngModel)]="name" name="UserName" required>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" type="submit" [disabled]="!helloWorldForm.valid">Get Data</button>
    </form>
  </div>
  <mat-slider color="primary" min="1" max="100" step="1" value="1"></mat-slider>
  <p id="text">
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
  </p>
</div>

<router-outlet></router-outlet>
